# Ignore everything
*

# But not these files...
!/.gitignore

!/.README.md

!/.goreleaser.yaml

!assets/
!assets/**

!.github/
!.github/**

!*.go
!go.sum
!go.mod

!Dockerfile

# ...even if they are in subdirectories
!*/
